main {
  min-height: auto;

  display: flex;
}

main > div {
  width: calc(100% - 10px);
  max-width: 1030px;

  display: grid;
  grid-template-columns: 1fr 315px;
  gap: 0;

  border-radius: 20px;
  border: solid var(--c-background-3) 1px;
  box-shadow: var(--e-big-shadow);
  background-color: var(--c-background-2);

  padding: 0px;
}

@media screen and (max-width: 680px) {
  main > div {
    padding: 0px;
  }
}

section {
  width: auto;

  box-shadow: none;
  border: none;
  border-radius: 0;

  background-color: transparent;
}

section h2 {
  margin-top: 36px;
}

table {
  border-collapse: collapse;
}

/* - - - SECTIONS - - - */

/* - - - title section - - - */
#title_section {
  grid-column: span 2;

  display: flex;
  justify-content: space-between;
  align-items: end;
}

#title_section h1 {
  margin: 0;
}

#title_section > p {
  padding-top: 12px;
  /* font-size: large; */
}

/* - - - description section - - - */
#description_section {
  grid-column: span 1;
}

#description_section > div {
  border: solid var(--c-background-3) 1px;
  border-radius: 10px;
  background-color: var(--c-background-1);

  padding: 20px;
}

#description_section ul {
  padding: 0 0 0 20px;
}

#description_section table {
  margin-top: 20px;

  width: 100%;
}

#description_section table tr {
  border-top: solid var(--c-background-3) 1px;
}

#description_section table td:nth-child(2) {
  padding-left: 20px;
}

@media screen and (max-width: 800px) {
  #description_section {
    grid-column: span 2;
  }
}

/* - - - image section - - - */
#image_section {
  grid-column: span 1;

  padding: 15px 15px 15px 0;

  height: 100%;
}

#image_section > div {
  min-height: 280px;

  border-radius: 10px;
}

#image_section > div img {
  position: absolute;

  width: 300px;
  height: auto;

  border-radius: 10px;

  transition: all 0.04s ease-out;
}

/* image hover animation */
#image_section > div img:first-child {
  z-index: 1;
}

#image_section > div img:nth-child(2) {
  opacity: 0;
}

#image_section > div:hover img:nth-child(1):has(~ :nth-child(2)) {
  opacity: 0;
}

#image_section > div:hover img:nth-child(2) {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  #image_section {
    grid-column: span 2;

    padding: 15px;
    padding-top: 0;
  }
}

/* - - - wiring section - - - */
#wiring_section {
  grid-column: span 2;

  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow: auto;

  padding-left: 10px;
}

#wiring_section tbody {
  margin-left: 5px;
}

#wiring_section tbody :first-child {
  font-weight: 700;
}

#wiring_section td {
  border-bottom: solid rgb(199, 199, 199) 1px;
}

#wiring_section td:not(:first-child) {
  padding-left: 8px;
}

/* - - - manual section - - - */
#manual_section {
  grid-column: span 2;
}

#manual_section li:empty {
  height: 20px;

  list-style: none;
}

/* - - - packages section - - - */
#packages_section {
  grid-column: span 2;
}

#packages_section div {
  display: flex;

  text-align: center;
}

#packages_section > div {
  border: solid var(--c-background-3) 1px;

  border-radius: 10px;
  background-color: var(--c-background-1);

  overflow-y: auto;
}

#packages_section > div:not(:last-child) {
  margin-bottom: 10px;
}

#packages_section > div > div:nth-child(1) {
  flex-direction: column;
}

#packages_section > div div:nth-child(1) div {
  flex: 1;

  flex-direction: column;
  justify-content: center;

  padding: 0 25px;
}

#packages_section > div > div:nth-child(2) {
  flex: 1;

  display: flex;
  justify-content: center;

  border-left: solid var(--c-background-3) 1px;
}

/* - - - table section - - - */
#table_section {
  grid-column: span 2;
  margin-left: 5px;
}

#table_section tbody :first-child {
  font-weight: 700;
}

#table_section td {
  border-bottom: solid rgb(199, 199, 199) 1px;
}

#table_section td:not(:first-child) {
  padding-left: 18px;
}

/* - - - programmers section - - - */
#programmers_section {
  grid-column: span 2;
}

#programmers_section #programmer_list {
  padding: 10px 0 10px 0;

  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

#programmers_section #programmer_list > div {
  width: fit-content;

  display: flex;

  border-radius: 50px;
  border: solid var(--c-background-3) 1px;
  background-color: var(--c-background-1);

  transition: all 0.12s ease;
}

#programmers_section #programmer_list > div:active {
  transform: scale(0.95);
}

#programmers_section #programmer_list > div a {
  padding: 4px 10px;
  text-decoration: none;
}

#programmers_section p {
  margin-top: 4px;
}
