:root {
  /* colors */
  --c-text: rgb(0, 0, 0);
  --c-accent: #98161b;
  --c-primary: #daf4ff;
  --c-secondary: #460349;
  --c-background-white: rgb(255, 255, 255);
  --c-background-gray: rgb(230, 230, 230);

  --e-header-height: 80px;
}

@font-face {
  font-family: "Inter";
  src: url("../font/inter-variable-font.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-variation-settings: "wght" 500;
}

/* - - - NAVIGATION - - - */
header {
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

header > div {
  max-width: 1000px;
  /* height: var(--e-header-height); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-color: var(--c-background-white);

  border-radius: 20px;
  border: solid var(--c-background-gray) 2px;
  box-shadow: 0px 6px 0px var(--c-background-gray);

  margin: 10px;
  padding: 15px;

  transition: all 0.2s ease;
}

header > div nav {
  display: flex;
  gap: 20px;
}

/* - - - MAIN - - - */

main {
  max-width: 100%;
  min-height: calc(100vh - var(--e-header-height) - 50px);

  padding: 20px;
  padding-top: calc(var(--e-header-height) + 50px + 20px);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

/* - - - FOOTER - - - */
footer {
  width: 100%;
}

footer > div {
  height: 88px;

  display: flex;

  background-color: var(--c-background-gray);

  margin: 20px;
  padding: 22px;
  padding-right: 20px;
  border-radius: 15px;
}

#footer_left {
  width: 260px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer_right {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  text-align: end;

  margin-left: auto;
}
