:root {
  --e-table-offset: 200px;
}

/* overrides */
body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  gap: 0;

  padding-top: 0;

  min-height: 10vh;
}

section {
  width: calc(100% - 20px);

  padding: 5px;
  padding-top: calc(var(--e-table-offset) + 38px);
}

#cover_div {
  background-color: var(--c-background-1);
  position: fixed;

  top: 0px;

  width: 100%;
  height: calc(var(--e-table-offset) + 22px);
}

/* - - - TABLE - - - */
table {
  width: 100%;

  border-collapse: collapse;
}

thead {
  position: fixed;
  top: var(--e-table-offset);
  translate: -6px;

  width: calc(100% - 80px);
  max-width: 1050px;

  background-color: var(--c-background-2);
  border-radius: 20px;
  /* border: solid var(--c-background-3) 2px;
  box-shadow: 0px 3px 0px var(--c-background-3); */
  border: solid var(--c-background-3) 1px;
  box-shadow: var(--e-small-shadow);

  padding: 4px 15px;
}

tr {
  display: flex;
  flex-direction: row;

  border-radius: 50px;

  transition: all 0.25s ease;
}

th {
  text-align: start;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

/* table body rows */
tbody tr {
  padding: 0px 10px;
}

tbody tr[data-href] {
  cursor: pointer;
}

tbody tr:hover {
  background-color: var(--c-primary);
}

td {
  border-top: 1px solid var(--c-background-3);
  padding: 4px 0px;
}

/* table columns */
th:nth-child(1),
td:nth-child(1) {
  width: 37%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 18%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 35%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 15%;
}

/* - - - SEARCH - - - */
#search {
  position: fixed;
  top: 144px;

  width: calc(100% - 46px);
  max-width: 1084px;
}

#search input {
  width: 400px;
  max-width: calc(100% - 36px);
  height: 30px;

  background-color: var(--c-background-2);
  border-radius: 20px;
  /* border: solid var(--c-background-3) 2px;
  box-shadow: 0px 3px 0px var(--c-background-3); */
  border: solid var(--c-background-3) 1px;
  box-shadow: var(--e-small-shadow);

  padding: 4px 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#search input:focus {
  outline: none;
  background-color: var(--c-primary);
}

#search div {
  position: relative;

  width: fit-content;
}

#search img {
  position: absolute;
  top: 0;
  right: 0;

  width: 28px;
  height: 28px;

  padding: 6px;
  padding-right: 12px;
}
