main {
  min-height: auto;

  display: flex;

  padding: 20px;
}

main > div {
  width: calc(100% - 10px);
  max-width: 1030px;

  display: grid;
  grid-template-columns: 1fr 315px;
  gap: 0;

  border-radius: 20px;
  border: solid var(--c-background-3) 1px;
  box-shadow: var(--e-big-shadow);
  background-color: var(--c-background-2);

  /* padding: 20px; */
  padding: 0px;
}

@media screen and (max-width: 680px) {
  main > div {
    padding: 0px;
  }
}

section {
  width: auto;

  grid-column: span 2;

  box-shadow: none;
  border: none;
  border-radius: 0;

  background-color: transparent;

  overflow: auto;
}

section h2 {
  margin-top: 36px;
}

section > div {
  display: flex;
  gap: 8px;
}

#description_section > div,
#manual_section > div {
  display: flex;
  flex-direction: column;
  gap: 8px;

  /* width: 100%; */
}

#description_section > div > div,
#manual_section > div > div {
  display: flex;
  gap: 8px;

  /* width: 100%; */
}

#description_section button,
#manual_section button {
  width: 100px;
}

section input:not([type="checkbox"]) {
  flex: 1;
}

section textarea {
  flex: 1;
  resize: vertical;
}

label {
  width: 100px;
  display: block;
}

#generate_button {
  height: 40px;

  grid-column: span 2;

  margin: 15px;
}
