main {
  min-height: auto;

  display: flex;

  padding: 20px;
}

main > div {
  width: calc(100% - 10px);
  max-width: 1030px;

  display: grid;
  grid-template-columns: 1fr 315px;
  gap: 0;

  border-radius: 20px;
  border: solid var(--c-background-3) 1px;
  box-shadow: var(--e-big-shadow);
  background-color: var(--c-background-2);

  /* padding: 20px; */
  padding: 0px;
}

@media screen and (max-width: 680px) {
  main > div {
    padding: 0px;
  }
}

section {
  width: auto;

  grid-column: span 2;

  box-shadow: none;
  border: none;
  border-radius: 0;

  background-color: transparent;

  overflow: auto;
}

section h2 {
  margin-top: 36px;
}

section > div {
  display: flex;
  gap: 8px;
}

#description_section > div,
#manual_section > div {
  display: flex;
  flex-direction: column;
  gap: 8px;

  /* width: 100%; */
}

#description_section > div > div,
#manual_section > div > div {
  display: flex;
  gap: 8px;

  /* width: 100%; */
}

#description_section button,
#manual_section button {
  width: 100px;
}

section input:not([type="checkbox"]) {
  flex: 1;

  border: none;
  border-radius: 5px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
}

section textarea {
  flex: 1;
  resize: vertical;
}

section:not(#description_section, #manual_section) label {
  width: 100px;
  display: block;
}

#basic_information_section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#basic_information_section div:focus-within,
#description_section div div:focus-within,
#manual_section div div:focus-within,
#package_section div div:focus-within,
#optional_section div:focus-within,
#programmers_section div div:focus-within,
#programmers_section > div:nth-child(5):focus-within {
  border-radius: 5px;
  background-color: var(--c-background-3);
}

#programmers,
#package {
  padding-top: 16px;
}

/* - - - buttons - - - */
button {
  border: none;
  border-radius: 5px;
  border: solid rgba(0, 0, 0, 0.2) 1px;

  cursor: pointer;

  padding: 4px;
  margin-top: 4px;
}

.add_button {
  background-color: rgb(0, 199, 0);
}

#generate_button {
  height: 40px;

  grid-column: span 2;

  margin: 15px;
}
